include ../owl-slider/owl-slider
include ../tabs/tabs
include ../tabs/tab/tab

mixin portfolio(data)
    +b.portfolio()&attributes(attributes)
        +e.H1.__title.b-page__title
            | Портфолио

        +e.__nav
            +e.A.__slide-link

        +tabs({id: 'portfolio-tabs'})
            +tab({title:'Все проекты', href: 'tab1'})
            +tab({title:'Дизайн интерьеров', href: 'tab2'})
            +tab({title:'Отделочные работы', href: 'tab3'})            

            +e.__block(id='tab1')
                +owl-slider({id:'owl-portfolio1'}).portfolio__slider
                    +e.__slide.portfolio__slide
                        +e.IMG.__img.portfolio__slide-img(src='static/img/content/porf-slide1.jpg')
                    +e.__slide.portfolio__slide
                        +e.IMG.__img.portfolio__slide-img(src='static/img/content/porf-slide2.jpg')
                    +e.__slide.portfolio__slide
                        +e.IMG.__img.portfolio__slide-img(src='static/img/content/porf-slide3.jpg')
                +e.subtitle
                    | Дизайн интерьера гостиной

            +e.__block(id="tab2")
                +owl-slider({id:'owl-portfolio2'}).portfolio__slider
                    +e.__slide.portfolio__slide
                        +e.IMG.__img.portfolio__slide-img(src='static/img/content/porf-slide1.jpg')
                    +e.__slide.portfolio__slide
                        +e.IMG.__img.portfolio__slide-img(src='static/img/content/porf-slide2.jpg')
                    +e.__slide.portfolio__slide
                        +e.IMG.__img.portfolio__slide-img(src='static/img/content/porf-slide3.jpg')
                +e.subtitle
                    | Дизайн интерьера гостиной
                    
            +e.__block(id="tab3")
                +owl-slider({id:'owl-portfolio3'}).portfolio__slider
                    +e.__slide.portfolio__slide
                        +e.IMG.__img.portfolio__slide-img(src='static/img/content/porf-slide1.jpg')
                    +e.__slide.portfolio__slide
                        +e.IMG.__img.portfolio__slide-img(src='static/img/content/porf-slide2.jpg')
                    +e.__slide.portfolio__slide
                        +e.IMG.__img.portfolio__slide-img(src='static/img/content/porf-slide3.jpg')
                +e.subtitle
                    | Дизайн интерьера кухни
