.portfolio {
    &__slider {
        // height: rem(540);
    }

    &__slide {
        width: rem(262);
        height: rem(540);

        overflow: hidden;

        &:before {
            content: '';

            position: absolute;
            z-index: 1;
            top: 0;

            display: block;

            width: 100%;
            height: 100%;

            background:rgba(62,78,93, 0.9);
        }

    }

    .active.center &__slide {
        &::before {
            background: none;
        }
    }

    &__slide-img {
        width: auto !important;
    }

    
}
