mixin footer(data)
    +b.FOOTER.footer()&attributes(attributes)
        +e.__logo

        +e.__socials
            +e.IMG.__vk(src='static/img/content/vk.png')
            +e.__inst(src='static/img/content/insta.png')
            +e.__fb(src='static/img/content/fb.png')

        +e.__info
            | BRUME interior, 2017
