.tabs {
    padding: 0;

    border: none !important;

    .ui-tabs-panel {
        padding: 0;
    }

    .ui-tabs-nav {
        display: flex;
        flex-direction: column;

        border: none;

        background: none;
    }

    &__tab {       
        color: rgba(0,0,0, 0.4) !important;
    }

    .ui-tabs-active {
        border: none;
        background: none;        

        .tabs__tab {
            color: $color-1 !important;
        }
    }

    .tab {
        width: auto;

        border: none;
        background: none;
    }

    &__tab {
        
    }
}
